<div *ngIf="resorts && isActiveSection('RESORTS')" class="scroll-zone-container">
  <div class="column left scroll-zone container-3d-registration-point">
    <div class="container-3d">
      <section class="resorts container-3d-panel-block">
        <article *ngFor="let resort of resorts"
        class="container-3d-panel"
        [class.selected]="isSelected(resort)"
        (click)="onSelect(resort)">
          <span class="badge">{{resort.name}} | id: {{resort.id}}</span>
        </article>
      </section>
    </div>
  </div>
  <div class="column right scroll-zone">
    <h2 class="title">Resorts</h2>
    <app-resort-detail [resort]="selectedResort"></app-resort-detail>
  </div>
</div>