.resorts-component {
  background: #ecf0f1;
}

.selected {
  background: #ccc;
  font-weight: bold;
}
.column img {
  width: 100%;
}
.container-3d .container-3d-panel-block .container-3d-panel {
  padding: 20px;
  cursor: pointer;
}
.sm-panel-left,
.sm-panel-right {
  box-sizing: border-box;
  text-align: left;
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.sm-panel-left {
  width: 25%;
}
.sm-panel-right {
  width: 73%;
  font-size: 16px;
  line-height: 18px;
  padding-left: 25px;
}
.small-icon {}
.badge-meta {
  display: block;
}
.badge-name {
  font-weight: bold;
  font-size: 1em;
}
.badge-address,
.badge-phone,
.badge-hours {
  font-size: 0.8em;
}
.selected .badge-address,
.selected .badge-phone,
.selected .badge-hours {
  font-size: 0.76em;
}
.badge-name,
.badge-address {
  padding-bottom: 0.75em;
  padding-bottom: 0.75em;
}
.badge-phone {}
.badge-hours {}