<div class="clearfix">
  <div class="column left">
    <div *ngIf="resorts && isActiveSection('RESORTS')">
      <h2>My Resorts</h2>
      <p>list A</p>
      <ul class="resorts">
        <li *ngFor="let resort of resorts"
        [class.selected]="isSelected(resort)"
        (click)="onSelect(resort)">
          <span class="badge">{{resort.name}} | id: {{resort.id}}</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="column right">
    <app-resort-detail [resort]="selectedResort" [activeSection]="activeSection"></app-resort-detail>
  </div>
</div>