<div *ngIf="resort" class="resort detail-container">
  <div class="resort-meta-container header">
    <div class="left-panel">
      <h3 class="resort-name"><a href="{{resort.url}}" target="_new">{{ resort.name | uppercase }}</a></h3>
    </div>
    <div class="right-panel trail-chart">
      <table class="resort-meta-table">
        <tr>
          <th>Lifts</th>
          <th>Trails</th>
          <th>Acres</th>
          <th>Terrain Park</th>
        </tr>
        <tr>
          <td>{{resort.lifts}}</td>
          <td>{{resort.trails}}</td>
          <td>{{resort.acres}}</td>
          <td>{{resort.terrain_park}}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="resort-meta-container">
    <img id="resort-trail-map" class="resort-trail-map" src="{{resort.trail_map_url}}" alt="{{resort.name}} trail map" />
  </div>
</div>