<!-- <div class="scroll-zone-container">
  <div class="scroll-zone allow-x-scroll">
    <table *ngIf="data && isActiveSection('DATA')">
      <tr *ngFor="let row of data">
        <td *ngFor="let val of row">{{val}}</td>
      </tr>
    </table>
  </div>
</div> -->
<div *ngIf="data && isActiveSection('DATA')">
  <h2 class="title">Raw Data</h2>
  <div class="scroll-zone-container">
    <div class="scroll-zone allow-x-scroll container-3d-registration-point">
      <div class="container-3d">
        <section class="sheet-view container-3d-panel-block">
          <article *ngFor="let row of data"
          class="container-3d-panel">
            <span *ngFor="let val of row">{{val}}</span>
          </article>
        </section>
      </div>
    </div>
  </div>
</div>