<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>
<div>
  <ol>
    <li>Upload data</li>
    <ul>
      <li>possibly setup field mapper</li>
      <li>possibly persist in local memory?</li>
    </ul>
    <li>Link to index view on dashboard page</li>
    <ul>
      <li>Add data to index view</li>
      <li>don't forget thumnails</li>
      <li>each item needs a detail</li>
    </ul>
  </ol>
</div>
<app-resorts></app-resorts>


