.app-component {
  height: 100%;
  width: 100%;
}

.icon {
  color: #fff;
  font-size: 32px;
  display: block;
}

ul .icon:hover {
  opacity: 0.6;
}

.main-nav-list {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}

ul.main-nav-list li {
  margin: 30px 0;
  text-align: center;
  list-style: none;
  padding: 0;
}

.main-nav-list fa,
.main-nav-list a {
  color: #fff;
  transform: scale(.75);
  transition-delay: .25s;
  transition: all .5s ease-out !important;
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
}
.main-nav-list fa:hover,
.main-nav-list a:hover {
  opacity: 0.5;
}

.main-nav-list a {
  display: block;
  padding: 10px 0;
}

.main-nav-list a.selected {
  transform: scale(1.2) !important;
}

.main-nav-list a span {
  margin-top: 8px;
  display: inline-block;
  font-size: 12px;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  font-family: open sans, sans-serif;
}

.title {
  font-family: open sans, sans-serif;
  font-size: 38px;
  display: block;
}