<!--The content below is only a placeholder and can be replaced.-->
<!-- <div class="HolyGrail">
  <header>
    <h1 class="inline-three header-title">
      {{ title }}
    </h1>
    <nav class="clearfix inline-three">
      <ul class="nav-links inline-three">
        <li><a [class.selected]="isActiveSection('HOME')" (click)="setActiveSection('HOME')">Home</a></li>
        <li><a [class.selected]="isActiveSection('DATA')" (click)="setActiveSection('DATA')">Uploaded Data</a></li>
        <li><a [class.selected]="isActiveSection('RESORTS')" (click)="setActiveSection('RESORTS')">Resorts</a></li>
        <li><a [class.selected]="isActiveSection('COURSE_CHART')" (click)="setActiveSection('COURSE_CHART')">Course Data</a></li>
        <li><a [class.selected]="isActiveSection('FULL_MAP')" (click)="setActiveSection('FULL_MAP')">Full Map</a></li>
      </ul>
      <div class="data-upload-links-container inline-three">
        <app-sheetjs [data]="data"></app-sheetjs>
      </div>
    </nav>
  </header>
  <div class="HolyGrail-body">
    <main class="HolyGrail-content">
      <app-resorts [resorts]="resorts" [activeSection]="activeSection"></app-resorts>
      <app-course-chart [resorts]="resorts" [activeSection]="activeSection"></app-course-chart>
      <app-sheet-view [data]="data" [activeSection]="activeSection"></app-sheet-view>
    </main>
    <nav class="HolyGrail-nav">
      <app-messages></app-messages>
    </nav>
    <aside class="HolyGrail-ads">
    </aside>
  </div>
  <footer><p class="attribution">Made with Angular 5 by Cricket Wallace</p></footer>
</div> -->
<!--  -->
<div class="ct" id="t1">
    <div class="ct" id="t2">
      <div class="ct" id="t3">
        <div class="ct" id="t4">
          <section>
            <ul class="main-nav-list">
              <a href="#t0" [class.selected]="isActiveSection('HOME')" (click)="setActiveSection('HOME')"><fa name="fa-home" class="icon fa fa-home" id="cero"></fa><span>Home</span></a>
              <a href="#t1" [class.selected]="isActiveSection('DATA')" (click)="setActiveSection('DATA')"><fa name="fa-line-chart" class="icon fa fa-line-chart" id="uno"></fa><span>Data</span></a>
              <a href="#t2" [class.selected]="isActiveSection('RESORTS')" (click)="setActiveSection('RESORTS')"><fa name="fa-snowflake-o" class="icon fa fa-snowflake-o" id="dos"></fa><span>Resorts</span></a>
              <a href="#t3" [class.selected]="isActiveSection('COURSE_CHART')" (click)="setActiveSection('COURSE_CHART')"><fa name="fa-tasks" class="icon fa fa-tasks" id="tres"></fa><span>Courses</span></a>
              <a href="#t4" [class.selected]="isActiveSection('FULL_MAP')" (click)="setActiveSection('FULL_MAP')"><fa name="fa-map-o" class="icon fa fa-map-o" id="cuatro"></fa><span>Map</span></a>
            </ul>
            <div class="page" id="p0">
              <span class="late-slider">
                <h1 class="title">
                  {{ title }}
                </h1>
                <div class="data-upload-links-container inline-three">
                  <app-sheetjs [data]="data"></app-sheetjs>
                </div>
              </span>
              <div class="credit">
                <p>Made with Angular 5 by <a href="http://WeAreTheInternauts.com/">Christopher "Cricket" Wallace</a></p>
                <p>Main layout based on original Code Pen by <a href="https://codepen.io/hrtzt/">Alberto Hartzet</a></p>
                <p>3D effect from Fold Scroll jQuery plugin by <a href="https://soulwire.co.uk/fold-scroll/">Justin Windle</a></p>
              </div>
            </div>
            <div class="page" id="p1">
              <span class="late-slider edge-to-edge">
                <app-sheet-view [data]="data" [activeSection]="activeSection"></app-sheet-view>
              </span>
            </div>
            <div class="page" id="p2">
              <span class="late-slider edge-to-edge">
                <app-resorts [resorts]="resorts" [activeSection]="activeSection"></app-resorts>
              </span>
            </div>
            <div class="page" id="p3">
              <span class="late-slider edge-to-edge">
                <app-course-chart [resorts]="resorts" [activeSection]="activeSection"></app-course-chart>
              </span>
            </div>
            <div class="page" id="p4">
              <li class="icon fa fa-dribbble"><span class="title">Dribbble</span><span class="hint"><a href="https://dribbble.com/rupok" target="_blank">Follow me on Dribbble</a></span></li>
            </div>
        </section>
      </div>
    </div>
  </div>
</div>