/*****/

/*.HolyGrail,
.HolyGrail-body {
  display: flex;
  flex-direction: column;
}

.HolyGrail-nav {
  order: -1;
}
header,
footer,
.HolyGrail-body {
  outline: 1px solid red;
}
.attribution {
  text-align: right;
}
.data-upload-links-container,
.nav-links,
.data-upload-links,
.nav-links li,
.data-upload-links li,
.inline-three {
  display: inline-block;
  vertical-align: middle;
}
.nav-links a,
.data-upload-links a {
  text-align: center;
  padding: 10px 5px;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
.nav-links a.selected,
.data-upload-links a.selected {
  background: #eee;
  font-weight: bold;
}
.nav-links {
  margin: 0;
  padding: 0;
  list-style: none;
}
.header-title {
  font-weight: bold;
  font-size: 16px;
}
.data-upload-links-container {
  margin-left: 100px;
}
.clearfix:after {
  content:" ";
  display:table;
  clear:both;
}

@media (min-width: 768px) {
  .HolyGrail-body {
    flex-direction: row;
    flex: 1;
  }
  .HolyGrail-content {
    flex: 1;
  }
  .HolyGrail-nav, .HolyGrail-ads {

    flex: 0 0 12em;
  }
}*/


/******/
.main-nav-list fa,
.main-nav-list a {
  color: #fff;
}
.main-nav-list a {
  display: block;
  padding: 10px 0;
}

* {
  transition: all 500ms ease-out;
  -webkit-transition: all 500ms ease-out;
  box-sizing: border-box !important;
}

html, body, section, .page {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  transition: all 1s cubic-bezier(.5, -0.005, 0.2, 1) !important;
  -webkit-transition: all 1s cubic-bezier(.5, -0.005, 0.2, 1) !important;
  color: #2c3e50;
  /*background: #374046;*/
  background: #34495e;
  overflow: hidden;
}

section {
  width:400%;
}

.page {
  position: absolute;
}

#p0 {
  left: 0;
  text-align: center;
}

#p1,
#p2,
#p3,
#p4 {
  background: #ecf0f1;
}

#p1 {
  left: 100%;
}

#p2 {
  left: 200%;
}

#p3 {
  left: 300%;
}

#p4 {
  left: 400%;
}

ul {
 position: fixed;
 z-index: 1;
}
#t0:target .page#p0 {
    transform: translateX(0);
}
#t1:target .page#p1 {
    transform: translateX(-90%);
}
#t2:target .page#p2 {
    transform: translateX(-190%);
}
#t3:target .page#p3 {
    transform: translateX(-290%);
}
#t4:target .page#p4 {
    transform: translateX(-390%);
}

#t1:target .page#p1,
#t2:target .page#p1,
#t3:target .page#p1,
#t4:target .page#p1 {
  background: #ecf0f1;
}

#t1:target .page#p1 .icon,
#t2:target .page#p1 .icon,
#t3:target .page#p1 .icon,
#t4:target .page#p1 .icon {
  -webkit-filter: blur(3px);
  filter: blur(3px);
}

.icon {
  color: #fff;
  font-size: 32px;
  display: block;
}

ul .icon:hover {
  opacity: 0.6;
}

.page#p0 .title {
  color: #fff;
  font-weight: bold;
  margin: 20px auto;
}

#t1:target ul .icon,
#t2:target ul .icon,
#t3:target ul .icon,
#t4:target ul .icon {
  transform: scale(.6);
  transition-delay: .25s;
}

#t1:target #uno {
  transform: scale(1.2) !important;
}

#t2:target #dos {
  transform: scale(1.2) !important;
}

#t3:target #tres {
  transform: scale(1.2) !important;
}

#t4:target #cuatro {
  transform: scale(1.2) !important;
}

.main-nav-list a span {
  margin-top: 8px;
  display: inline-block;
  font-size: 12px;
  text-transform: uppercase;
}

ul {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  /*right: 0;*/
  margin: auto;
  height: 280px;
  width: 10%;
  padding: 0;
  text-align: center;
 }

ul li {
  margin: 30px 0;
}

a {
  text-decoration: none;
  font-family: open sans, sans-serif;
}

.title, .hint {
  font-family: open sans, sans-serif;
  display: block;
}

.title {
  font-size: 38px;
}

.hint {
  font-size: 13px;
}

.hint a {
  color: #EFFF06;
  transition: all 250ms easet-out;
}

.hint a:hover {
  color: #FFF;
}

.page .late-slider {
  position: absolute;
  transform: translateX(360%);
  padding: 20px;
  width: 100%;
  margin: auto;
  height: 100%;
  display: block;
}
.page .late-slider.edge-to-edge {
  padding: 0;
}
.page .icon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10%;
  left: 0;
  width: 270px;
  height: 170px;
  margin: auto;
  text-align: center;
  font-size: 80px;
  transform: translateX(360%);
  line-height: 1.3;
}

.page#p0 .icon {
  height: 220px;
}

.page#p0 .icon,
.page#p0 .late-slider {
  transform: translateX(0) !important;
}

#t1:target .page#p1 .icon,
#t1:target .page#p1 .late-slider {
  transform: translateX(0) !important;
  transition-delay: 1s;
}

#t2:target .page#p2 .icon,
#t2:target .page#p2 .late-slider {
  transform: translateX(0) !important;
  transition-delay: 1s;
}

#t3:target .page#p3 .icon,
#t3:target .page#p3 .late-slider {
  transform: translateX(0) !important;
  transition-delay: 1s;
}

#t4:target .page#p4 .icon,
#t4:target .page#p4 .late-slider {
  transform: translateX(0) !important;
  transition-delay: 1s;
}

.credit{
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 10px;
}

.credit a {
  color: #fff
}
