/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*****/

.HolyGrail,
.HolyGrail-body {
  display: flex;
  flex-direction: column;
}

.HolyGrail-nav {
  order: -1;
}
header,
footer,
.HolyGrail-body {
  outline: 1px solid red;
}
.attribution {
  text-align: right;
}
.data-upload-links-container,
.nav-links,
.data-upload-links,
.nav-links li,
.data-upload-links li,
.inline-three {
  display: inline-block;
  vertical-align: middle;
}
.nav-links a,
.data-upload-links a {
  text-align: center;
  padding: 10px 5px;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
.nav-links a.selected,
.data-upload-links a.selected {
  background: #eee;
  font-weight: bold;
}
.nav-links {
  margin: 0;
  padding: 0;
  list-style: none;
}
.header-title {
  font-weight: bold;
  font-size: 16px;
}
.data-upload-links-container {
  margin-left: 100px;
}
.clearfix:after {
  content:" ";
  display:table;
  clear:both;
}

@media (min-width: 768px) {
  .HolyGrail-body {
    flex-direction: row;
    flex: 1;
  }
  .HolyGrail-content {
    flex: 1;
  }
  .HolyGrail-nav, .HolyGrail-ads {
    /* 12em is the width of the columns */
    flex: 0 0 12em;
  }
}