/* You can add global styles to this file, and also import other style files */
@import "../node_modules/font-awesome/css/font-awesome.css";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*mobile*/
@media (max-width: 768px) {
  body {
    font-size: 13px;
    line-height: 16px;
    padding: 0;
  }
  #search {
    position: static;
    width: 100%;
    font-size: 2em;
    line-height: 1.8em;
    text-indent: 10px;
    border: 0;
    border-radius: 0;
    padding: 10px 0;
    margin: 0;
  }
  #search:focus {
    width: 100%;
    border: 0;
    opacity: 1;
  }
  .directory h1 {
    font-size: 2em;
    line-height: 1.5em;
    color: #fff;
    background: #000;
    padding: 15px 10px;
    margin: 0;
  }
  ul#files {
    border-top: 1px solid #cacaca;
  }
  ul#files li {
    float: none;
    width: auto !important;
    display: block;
    border-bottom: 1px solid #cacaca;
    font-size: 2em;
    line-height: 1.2em;
    text-indent: 0;
    margin: 0;
  }
  ul#files li:nth-child(odd) {
    background: #e0e0e0;
  }
  ul#files li a {
    height: auto;
    border: 0;
    border-radius: 0;
    padding: 15px 10px;
  }
  ul#files li a:focus,
  ul#files li a:hover {
    border: 0;
  }
  #files .header,
  #files .size,
  #files .date {
    display: none !important;
  }
  #files .name {
    float: none;
    display: inline-block;
    width: 100%;
    text-indent: 0;
    background-position: 0 50%;
  }
  #files .icon .name {
    text-indent: 41px;
  }
}
/* global styles */
* {
  box-sizing: border-box;
}

.title {
  font-size: 26px;
  padding: 0.35em;
  font-family: open sans, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

.vertical-container .vertical-spacer-block,
.vertical-container .vertical-center-content-block {
  height: 100%;
  width: 0;
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
}
.vertical-container .vertical-center-content-block {
  width: 95%;
  height: initial;
  text-align: center;
  padding: 10px;
}

.scroll-zone-container {
  height: 100%;
  display: block;
}
.scroll-zone-container .scroll-zone {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
}
.scroll-zone-container .scroll-zone.allow-x-scroll {
  overflow-x: scroll;
  width: 100%;
}
.column {
  display: inline-block;
  height: 100%;
  vertical-align: top;
  padding:10px 5px;
  margin:0;
}
.column.left {
  width: 30%;
}
.column.right {
  width: 69%;
}
.clearfix:after {
  content:" ";
  display:table;
  clear:both;
}


/******/
body {
  font-family: open sans, sans-serif;
}
.container-3d-registration-point {
  position: relative;
  background: #34485d;
}

.container-3d {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: transparent;
    padding: 0;
    margin: 0;
}

/* Info */

.container-3d #info {
    font-size: 12px;
    position: absolute;
    z-index: 1;
    color: #fff;
    width: 260px;
    left: 20px;
    top: 20px;
}

.container-3d #info a {
    text-decoration: none;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.5);
}

.container-3d #info a:hover {
    color: #fff;
}

.container-3d #info header, #info aside {
    font-family: open sans, sans-serif;
    background: rgba(0, 0, 0, 0.8);
    margin-bottom: 1px;
}

.container-3d #info header {
    padding: 12px 10px;
}

.container-3d #info header hgroup h1 {
    line-height: 22px;
    font-weight: 300;
    font-size: 18px;
    margin: 0;
}

.container-3d #info header hgroup h2 {
    line-height: 14px;
    font-weight: 300;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.8);
    margin: 0 0 6px 0;
}

.container-3d #info header a {
    text-transform: uppercase;
    margin-right: 4px;
    line-height: 20px;
    font-size: 10px;
}

.container-3d #info aside {
    padding: 2px 10px;
}

/* Demo */

.container-3d .container-3d-panel-block {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    left: 0;
}

.container-3d .container-3d-panel-block .container-3d-panel {
    border-bottom: 1px dashed #ddd;
    text-align: justify;
    line-height: 1.8;
    background: #fff;
    max-width: 620px;
    font-size: 14px;
    padding: 80px 40px;
    margin: 0 auto;
    width: 100%;
    color: #333;
}

.container-3d .container-3d-panel-block .container-3d-panel em {
    font-style: normal;
    font-size: 12px;
    color: #666;
}

.container-3d .container-3d-panel-block .container-3d-panel em:before {
    content: '~';
    margin: 0 10px;
}


/*********/
html, body, section, .page {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #2c3e50;
  /*background: #374046;*/
  background: #34495e;
  overflow: hidden;
}
.page {
  transition: all 1s cubic-bezier(.5, -0.005, 0.2, 1) !important;
  -webkit-transition: all 1s cubic-bezier(.5, -0.005, 0.2, 1) !important;

}
.main-app-base {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}
.main-app-base.left {
  width: 9.69%;
  text-align: center;
}
.main-app-base.right {
  width: 90%;
}
/*********/

@media (max-width: 600px) {
    .container-3d .container-3d-panel-block .container-3d-panel {
        padding: 60px 30px;
        line-height: 1.5;
        font-size: 12px;
    }
    .container-3d .container-3d-panel-block .container-3d-panel em {
        font-size: 10px;
    }
}