<h1 class="title">
  {{ title }}
</h1>
<div class="data-upload-links-container inline-three">
  <ul class="data-upload-links">
    <li>
      <div>Choose a data file</div>
      <fa name="upload"></fa>
      <input type="file" (change)="onFileChange($event)" multiple="false" />
    </li>
    <li *ngIf="data">
      <button (click)="export()">
        <fa name="download"></fa>EXPORT
      </button>
    </li>
  </ul>
</div>
<div class="credit">
  <p><span class="credit-line">&#187;</span>Made with Angular 5 by <a href="http://WeAreTheInternauts.com/">Christopher "Cricket" Wallace</a></p>
  <p><span class="credit-line">&#187;</span>Main layout based on original Code Pen by <a href="https://codepen.io/hrtzt/">Alberto Hartzet</a></p>
  <p><span class="credit-line">&#187;</span>3D effect from Fold Scroll jQuery plugin by <a href="https://soulwire.co.uk/fold-scroll/">Justin Windle</a></p>
  <p><span class="credit-line">&#187;</span>Loupe, a jQuery image magnifier, by <a href="https://github.com/redoPop/loupe">Joe Bartlett</a></p>
  <p><span class="credit-line">&#187;</span>Charts from 2018 MIT Licensed <a href="https://github.com/plotly/plotly.js">Plotly.js</a></p>
</div>