.data-upload-links {
  padding: 0;
  margin: 0;
  list-style: none;
}
.data-upload-links,
.data-upload-links li {
  display: inline-block;
}
.data-upload-links a {
  padding: 10px 5px;
  display: block;
  cursor: pointer;
  text-align: center;
}